{sub_dirs,["src","test"]}.
{deps_dir,"deps"}.
{deps, [
    {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.8.0"}  }},
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy", {branch, "master"}  }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",         {tag, "1.9"}    }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",         {tag, "1.9"}    }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",        {tag, "1.9"} }},
    {active, ".*", {git, "git://github.com/synrc/active",     {tag, "1.9"} }},
    {sqlite3,".*", {git, "git://github.com/sergey-miryanov/erlang-sqlite3", {branch, "master"} }},
    {jsone,  ".*", {git, "git://github.com/sile/jsone",         {branch, "master"} }}
]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
