[{craft, [{assets, [
    {illustrations_art,      "assets/img/free-game-art-illustrations.git/", "art-unsorted"},	
    {illustrations_portrait, "assets/img/free-game-art-illustrations.git/", "portraits-unsorted"},	
    {topdown,                "assets/img/free-game-art-topdown.git/", "topdown-unsorted"},
    {effects,                "assets/img/free-game-art-effects.git/", "effects-unsorted"},
    {isometric,              "assets/img/free-game-art-isometric.git/", "isometric-unsorted"},
    {ui_icons,               "assets/img/free-game-art-ui.git/", "ui_icons"},
    {ui_widgets,             "assets/img/free-game-art-ui.git/", "ui_widgets"},
    {frontview,              "assets/img/free-game-art-frontview.git/", "frontview-unsorted"},
    {sideview,               "assets/img/free-game-art-sideview.git/", "sideview-unsorted"}]}
    ]
}].
