[{craft, [{assets, [
    {illustrations_art,      "assets/img/free-game-art-illustrations/", "art-unsorted"},	
    {illustrations_portrait, "assets/img/free-game-art-illustrations/", "portraits-unsorted"},	
    {topdown,                "assets/img/free-game-art-topdown/", "topdown-unsorted"},
    {effects,                "assets/img/free-game-art-effects/", "effects-unsorted"},
    {isometric,              "assets/img/free-game-art-isometric/", "isometric-unsorted"},
    {ui_icons,               "assets/img/free-game-art-ui/", "ui_icons"},
    {ui_widgets,             "assets/img/free-game-art-ui/", "ui_widgets"},
    {frontview,              "assets/img/free-game-art-frontview/", "frontview-unsorted"},
    {sideview,               "assets/img/free-game-art-sideview/", "sideview-unsorted"}]}
    ]
}].
