<div class="templates" hidden>
  
  <div class="example u-cf"> 
    <div class="iframe-box">
      <iframe class="u-cf" src=""></iframe>
      <button class="button fork">
        <span lang="fi">Forkkaa tää</span>
        <span lang="es">Bifurcación</span>
        <span lang="en">Fork it</span>
      </button>
    </div>
    <div class="sources">
      <ul class="tab-nav header">
        <li><a class="button active"></a></li>
      </ul>
      <div class="source"><pre></pre></div>
    </div>
  </div>
  
  
  <button class="button fork">
    <span lang="fi">Forkkaa tää</span>
    <span lang="es">Bifurcación</span>
    <span lang="en">Fork it</span>
  </button>

  <div class="asset-line">
    <button id="del-img-asset" class="button">
      <span lang="fi">× Poista</span>
      <span lang="es">× Borrar</span>
      <span lang="en">× Delete</span>
    </button>
    <span class="name"></span>
    <img>
  </div>
  <div class="asset-add">
    <button id="add-img-asset" class="button">
      <span lang="fi">+ Lisää</span>
      <span lang="es">+ Añadir</span>
      <span lang="en">+ Add</span>
    </button>
  </div>

 
</div>