<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/img/craftman.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/web.css">
  </head>
  <body>
    
    {{ navbar }}
    
    <div class="container">
      <h1>
        <span lang="fi">
          CRAFT on paikka jossa voi opetella ohjelmointia
        </span>
        <span lang="en">
          CRAFT is a place for learning programming
        </span>
        <span lang="es">
          CRAFT es una lugar para aprender la programación
        </span>
      </h1>
      <img class="center size-64" src="/img/craftman.png" alt="logo">
      <p lang="fi">
        CRAFT on Scratchin kaltainen ympäristö jossa voit opetella ohjelmointia. Se on suunniteltu pelien rakenteluun ja kehittelyyn. Ohjelmointikielenä toimii javascript, jonka perusteet oppii nopeasti. Lisäksi tarjolla on lukuisia pelihenkisiä opasteita. 
      </p>
      <p lang="en">
        CRAFT is an environment like Scrach where you can learn programming. It is designed for building and development of games. The used programming language is javascript which basics you can easily learn. There's also many game scene tutorials available  
      </p>
      <p lang="es">
        CRAFT es un entorno como Scrach donde se puede aprender la programación. Está diseñado para la construcción y desarrollo de juegos. El lenguaje de programación utilizado es javascript que los fundamentos que usted puede aprender fácilmente. También hay muchos tutoriales de escenas de juegos disponibles.
      </p>
    </div>
    
    
    <script src="/js/web.js"></script>
  </body>
</html>