<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/img/craftman.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/codemirror.css">
    <link rel="stylesheet" href="/css/web.css">
  </head>
  <body class="project" data-project="{{ project }}">
    
    {{ navbar }}

    
      <div class="project-header container">
        <label>
          <span lang="fi">Projekti</span>
          <span lang="en">Project</span>
          <span lang="es">Proyecto</span>
        </label>
        <span>{{ project }}</span>
        
        <button id="delete" class="own-project">
          <span lang="fi">Poista projekti</span>
          <span lang="en">Delete project</span>
          <span lang="es">Borrar proyecto</span>
        </button>
        |
        <label>
          <span lang="fi">Tykkäykset</span>
          <span lang="en">Likes</span>
          <span lang="es">Gustos</span>
        </label>
        <span class="likes">0</span>
        <button id="like" class="others-project">
          <span lang="fi">Tykkään</span>
          <span lang="en">I like</span>
          <span lang="es">Me gusta</span>
        </button>
        |
        <label>
          <span lang="fi">Forkkaukset</span>
          <span lang="en">Forks</span>
          <span lang="es">Bifurcaciónes</span>
        </label>
        <span class="forks">0</span>
        <button id="fork" class="others-project">
          <span lang="fi">Forkkaa tää</span>
          <span lang="en">Fork it</span>
          <span lang="es">Bifurcación</span>
        </button>

      </div>
    
    <div class="left">
      <iframe src="/project/{{ project }}" width="800" height="600"></iframe>
      <div class="console"></div>
    </div>
    <div class="right">
      <ul class="tab-nav source-tabs">
        <li>
          <a id="new-file-tab" class="button">+</a>
        </li>
        <li>
          <a id="assets-tab" class="button">ASSETS</a>
        </li>
      </ul>
      <div class="source-file"></div>
    </div>
    
    
    <div class="modal" id="modal-img-assets">
      <div class="modal-inner">
          <div class="modal-content">
            <div class="modal-close-icon">
              <a href="javascript:void(0)" class="close-modal"><i class="fa fa-times" aria-hidden="true">&times;</i></a>
            </div>
            <div class="modal-content-inner">
              <label>Category</label>
              <select id="select-asset-category">
                <option></option>
                {{ asset_options }}
              </select>
              <label>Selection</label>
              <button id="asset-prev" class="button">&lt;</button>
              <span class="index"></span>/
              <span class="count"></span>
              <button id="asset-next" class="button">&gt;</button>
              <input type="text">
              <div>
                <img>
              </div>
            </div>
            <hr class="modal-buttons-seperator">
            <div class="modal-buttons">
              <button class="button close-modal">Cancel</button>
              <button class="button button-primary">Login</button>
            </div>
          </div>
      </div>
    </div>
    
    
    {{ templates }}
    
    <script src="/js/codemirror.js"></script>    
    <script src="/js/web.js"></script>
  </body>
</html>