<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/img/craftman.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/web.css">
  </head>
  <body>
    {{ templates }}
    
    {{ navbar }}
    
    <div class="container">
      <h1>
        <span lang="fi">Sprite animaatio</span>
        <span lang="en">Sprite animation</span>
        <span lang="es">Animación de sprite</span>
      </h1>

      <p class="abstract">
        <img src="/img/craftman.png" alt="craftman">
        Tässä opasteessa ladataan liikkuva hahmo ja animoidaan sitä.
      </p>
      
      <p lang="fi">
        Sprite animaatiot ovat sellaisia joissa näkyvä sprite vaihdetaan monta kertaa jolloin seuraavissa kuvissa raajat, tai muut animoitavat osat, ovat eri asennossa. Pelaajalle tulee kuvitelma että hahmo liikkuisi. Valmiiksi animoidut kuvasarjat ovat helppokäyttöisimpiä animaatioita. Tälöin sovittuna ajankohtana vaihdetaan seuraavaan kuvaindeksiin. 
      </p>
      <p><img src="/api/asset/sideview/de0e07ccf8775f66461f605ab73a9f32ed8d0cd0.png"></p>
      <p lang="fi">
        Kuva-animaation lisäksi laitamme taustalle rauhoittavan pilvipoudan ja vuoristomaiseman.
      </p>
      
      <div class="embedded-project" data-project="tut/spriteanim-1"></div>

      <p lang="fi">
        Muuten hyvä, mutta animaatio on ihan magenta-värin pauloissa. Magenta on väri joka on helposti poistettavissa, mutta vaatii hieman mylläystä koodissa. Lisäksi ensimmäinen animaatio-kuva on väärässä asennossa, parempi animaatio syntyy ilman sitä. Poistamme ensimmäisen ruudun <b>slice</b> metodilla.
      </p>
      
      <div class="embedded-project" data-project="tut/spriteanim-2"></div>
      
      
    </div>
    
    <script src="/js/web.js"></script>
  </body>
</html>